.tracked-animal {
    -fx-effect: dropshadow( three-pass-box, rgba(83, 34, 117, 0.8) , 7, 0.5 , 0 , 0);
    -fx-background-color: #caa2fa
}

.tracked-animal-small {
    -fx-effect: dropshadow( three-pass-box, rgba(83, 34, 117, 0.8) , 7, 0.5 , 0 , 0);
    -fx-fill: #caa2fa;
    -fx-border-width: 5px;
    -fx-border-color: orange;
}

.selectable-animal:hover {
    -fx-cursor: hand;
}

.animal-node {
    -fx-cursor: default;
}

#simulationStatusLabel {
    -fx-font-size: 15pt;
    -fx-text-fill: green
}

.highlighted-field {
    -fx-border-width: 2px;
    -fx-border-color: orange;
    -fx-background-color: rgba(242, 236, 170, 1);
    -fx-fill: purple;
}

.dominant-genotype-highlighted-field {
    -fx-border-width: 2px;
    -fx-border-color: #28288d;
    -fx-background-color: rgb(51, 255, 154, 1);
    -fx-fill: cyan;
}

.preferred-position-highlighted-field {
    -fx-border-width: 2px;
    -fx-border-color: #1e0f0f;
    -fx-background-color: rgb(255, 136, 136, 0.5);
    -fx-fill: #ff888888;
}

.highlighted_gene {
    -fx-fill: magenta;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(83, 34, 117, 1) , 7, 0.0 , 0 , 0);
}